<div class="card text-white bg-dark mb-3" style="max-width: 150rem;">
  <div class="card-header">Listado de Profesores</div>
  <div class="card-body">
    <table class="table table-sm table-hover">
      <tbody>
        <tr>
          <td>N°</td>
          <td class="text-center">RUN</td>
          <td>Nombres</td>
          <td>A. Paterno</td>
          <td>A. Materno</td>
          <td>Opciones</td>
        </tr>
        <tr *ngFor="let teacher of teacherList;let indice=index">
          <td>{{indice+1}}</td>
          <td>{{teacher.run}}</td>
          <td>{{teacher.names | uppercase}}</td>
          <td>{{teacher.paterno | uppercase}}</td>
          <td>{{teacher.materno | uppercase}}</td>
          <td>
            <button class="btn btn-secondary text-white" type="button" (click)="onEdit(teacher)">
              <i class="fa fa-edit"></i>
            </button>
            <a class="btn btn-danger text-white" (click)="onDelete(teacher.$key)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>